body {
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100%;
}


.container {
    max-width: 1276px;
    margin: auto;
}


.logo {
    display: flex;
    align-items: center;
}

.logo a {
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #000000;
    font-family: 'PT Serif Caption';
    margin-left: 12px;
    text-decoration: none;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-bar-menu {
    display: none;
}


.flex-wrapper nav a {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #000000;
    margin-right: 32px;
}

.login a {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #F2A413;
    font-family: 'Roboto';
}

.login a p {
    margin: 0;
}

.picture {
    background-image: url(../images/image2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.picture-info {
    max-width: 540px;
    padding: 188px 0;
}

.picture h1 {
    font-weight: 800;
    font-size: 54px;
    line-height: 130%;
    color: #000000;
    padding-bottom: 20px;
}

.picture p {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: #000000;
    padding-bottom: 28px;
}

.picture a {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-decoration: none;
    padding: 22px 36px;
    border-radius: 1000px;
    display: inline-block;
    background-color: #F2A413;
}

.picture span {
    color: #F28C0F;
}

.circle {
    border-radius: 50%;
    background-color: #F28C0F;
    height: 634px;
    margin-top: -317px;
    position: relative;
    z-index: -1;
}

.circle-text h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

.circle-text p {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    max-width: 876px;
    margin: auto;
}

.circle-text {
    padding-top: 377px;
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #F28C0F;
}


.about p {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}

.about {
    max-width: 32%;
    text-align: center;
    padding: 44px 36px;
    border: #F28C0F solid 2px;
    border-radius: 32px;
    margin-top: -44px;
    position: relative;
    z-index: 2;
    background-color: white;
}

.choice h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    padding-top: 92px;
    padding-bottom: 36px;

}


.profil {
    max-width: 49%;
    padding: 48px;
    text-align: center;
    border: #F28C0F solid 2px;
    border-radius: 32px;
}

.profil h4 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 24px;
}

.info-important {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 36px 0 36px;
    border-top: #F28C0F solid 2px;
    border-bottom: #F28C0F solid 2px;
    align-items: center;
}

.info-img {
    max-width: 45%;
    margin-bottom: 28px;
}


.info-text {
    max-width: 58%;
    margin-left: 20px;
    margin-bottom: 28px;
}

.info-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: left;
}

.forwhom h4 {
    padding-top: 24px;
    padding-bottom: 20px;
}

.forwhom p {
    padding-bottom: 12px;
}


.profil-choice {
    display: flex;
    justify-content: space-between;
    padding-bottom: 84px;
    flex-wrap: wrap;
}

.interesting-article h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    padding-bottom: 4px;
}

.interesting-article span {
    color: #F28C0F;

}

.article {
    display: flex;
    padding-top: 32px;

}

.article p {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    font-family: 'Roboto';
    padding: 60px 88px 61px 20px;
    margin: 0%;
    border-top: #F28C0F solid 2px;
    border-bottom: #F28C0F solid 2px;
    border-right: #F28C0F solid 2px;
    border-radius: 0 32px 32px 0;
}

.interesting-article {
    padding-bottom: 92px;
}

.comment-blogs h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    max-width: 610px;
    padding-bottom: 36px;
}

.photo img{
    width: 112px;
    height: 112px;
}

.comment-blogs h3 {
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    max-width: 100%;
}

.comment-blogs span {
    color: #F28C0F;
}

.head {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 40px 143px 0 40px;
}

.rate p {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
}

.photo {
    padding-right: 20px;
    padding-bottom: 20px;
}

.blog {
    border: #EEEEEE solid 2px;
    border-radius: 32px;
    max-width: 49.3%;
}

.rate {
    padding: 0 40px 40px;
}

.blogs {
    display: flex;
    justify-content: space-between;
}

.comment-blogs {
    padding-bottom: 94px;
}


.for-familiarization {
    display: flex;
    justify-content: space-between;
    padding: 39px 0 147px;
}

.part1 p {
    max-width: 412px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #555555;
}


.part2 li {
    padding-bottom: 16px;
    list-style-type: none;

}

.part2 a {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #131313;
    text-decoration: none;
}

footer {
    background-color: #EEEEEE;
}

.carousel-control-prev-icon {
    background-image: url(../images/prev.svg);
}

.carousel-control-next-icon {
    background-image: url(../images/next.svg);
}

.carousel-control-prev {
    position: absolute;
    margin-left: -7.5%;
}


.carousel-control-next {
    position: absolute;
    margin-right: -7.5%;
}


@media (max-width: 1276px) {
    .container {
        max-width: 95%;
    }
}


@media (max-width: 1215px) {
    .info-text {
        max-width: 100%;
    }
}

@media (max-width: 1130px) {
    .about {
        max-width: 49%;
    }

    .about:last-child {
        margin-top: 20px;
    }

    .article img {
        display: none;
    }

    .article p {
        border: #F28C0F solid 2px;
        border-radius: 32px;
    }

    .article p {
        text-align: center;
        padding: 60px 20px;
    }

    .picture-info {
        padding: 100px 0;
    }
}

@media (max-width: 996px) {
    .circle {
        border-radius: 30%;
    }


    .about {
        max-width: 60%;
        margin-top: 25px;

    }

    .info {
        justify-content: center;
    }

    .profil {
        max-width: 60%;
    }

    .profil-choice {
        justify-content: center;
    }

    .profil:last-child {
        margin-top: 25px;
    }

    .photo {
        display: none;
    }

    .about {
        max-width: 80%;
    }

    .profil {
        max-width: 80%;
    }

    .info-important {
        text-align: center;
    }

}

@media(max-width: 895px) {
    .navigation {
        display: none;
    }

    .nav-bar-menu img {
        max-width: 51px;
        height: 50px;
    }

    .nav-bar-menu {
        display: flex;
    }

    .dropbtn {
        background-color: #FFFFFF;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }


    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


    .dropdown-content a:hover {
        background-color: #ddd;
    }


    .dropdown:hover .dropdown-content {
        display: block;
    }


    .dropdown:hover .dropbtn {
        background-color: #e7e6e6;
    }


    .dropdown-content p {
        margin-bottom: 0;
    }

    .for-familiarization{
        display: block;
    }


    .part1 {
        margin-bottom: 30px;
    }

    .part2 ul{
        padding-left: 0px;
    }

    .blog:first-child {
        display: none;
    }
    
    .blog {
        max-width: 100%;
    }

    .picture-info {
        padding: 50px 0;
    }
} 

@media (max-width:620px) {
    .circle-text P {
        font-size: 23px;
    }

    .about p {
        font-size: 17px;
    }

    .info-text p {
        font-size: 15px;
    }

    .article p {
        font-size: 18px;
    }


    .interesting-article h3 {
        font-size: 30px;
        line-height: 38px;
    }

    .choice h3 {
        font-size: 30px;
        line-height: 38px;
    }

    .comment-blogs h2 {
        font-size: 30px;
        line-height: 38px;
    }

    .comment-blogs h3 {
        font-size: 27px;
    }

    .rate p {
        font-size: 16px;
    }


    .part1 p {
        font-size: 10px;
    }

    .info-important {
        padding: 24px 0 0 0;
    }

    .picture h1 {
        font-size: 40px;
    }

    .picture p {
        font-size: 17px;
    }

    .picture a {
        font-size: 14px;
    }
    
    .about {
        max-width: 100%;
    }

    .profil {
        max-width: 100%;
    }



}

@media (max-width: 490px) {
    .comment-blogs h2 span {
        display: inline-block;
    }

    .circle-text h2 {
        font-size: 30px;
    }

    .circle-text p {
        font-size: 18px;
    }


    .profil {
        padding: 28px;
    }

    .about h4 {
        font-size: 24px;
    }
}

@media (max-width: 420px) {
    .circle {
        border-radius: 0;
    }
    .logo a {
        margin: 0;
    }

    .about {
        padding: 44px 10px;
    }

    .profil {
        padding: 10px;
    }

    .logo strong {
        margin-left: 10px;
    }
}
